# Arquivos de build do Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Arquivos do Replit
.replit
.replit.nix

# Ruby e Bundler
*.gem
.bundle/
vendor/
Gemfile.lock

# Arquivos temporários e de sistema
*.log
*.swp
*.tmp
.DS_Store
Thumbs.db

# VS Code ou Cursor (ambientes baseados em VS Code)
.vscode/

# Backup de editores
*~
