<footer>
  <div class="container">
    <div class="footer-content">
      <p>Wagner Rosa © 2013 - 2026</p>
      <div class="social-links">
        <a href="https://linkedin.com/in/wagnerrosa" target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://instagram.com/wagnerrosa" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://github.com/wagnerrosa" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://behance.net/wagnerrosa" target="_blank"
          ><i class="fab fa-behance"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
